Añadir comentario: <p>

<form action="/quizes/<%= quizid %>/comments" method="post">
    <input type="text" name="comment[texto]" id="comment" value="" autofocus>
    <button type="submit" value="Enviar">Enviar</button>
</form>
