<!DOCTYPE html>
<html>
  <head>
    <title>El autor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
  </head>
  <body>
    <h1 class="welcome">Jesús Daniel Trigo</h1>
    <img src="./images/avatar.png" style="width:100px; height:100px"/>
  </body>
</html>
