body {
  background-color: seagreen;
}

#page-wrap:after {
  content:"Wide Layout";
}

nav {
  float: left;
  width:15%;
  height: 200px;
}

nav span {
  margin: 0px 100px 0px 0px;
}

section {
  float: right;
  width:80%;
  height: 200px;
}

footer {
  clear: both;
  display: block;
}

.buscador {
  position: absolute;
  top: 100px;
  right: 10px;
  border: 2px solid maroon;
  padding: 10px;
  border-radius: 10px;
}

.izq {
  float:left;
}

.ErrorMsgs {
  color: #f61;
  font-size: smaller;
}


.tema {
  color: maroon;
  background-color: lightblue;
}
